.productName {
  font-weight: 500;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  border: 1px solid #222;
}
.new {
  color: red;
  font-weight: 700;
  margin-right: 0.5rem;
}

.productPrice {
  font-weight: 500;
  margin-bottom: 0.5rem;
  text-align: center;
  border: 1px solid #222;
}

.productInput {
  border: 1px solid #222;
}

.productInput input {
  padding: 0.5rem;
  border: none;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}
