.menu {
  margin: 0 auto;
}

.menu table {
  border-collapse: collapse;
  border: 1px solid #222;
  width: 100%;
  table-layout: auto;
}

.menu th {
  background-color: #222;
  color: #fff;
  padding: 0.5rem;
}

.menu .headProductPrice {
  width: 25%;
}
.menu .headProductInput {
  width: 20%;
}
